.main {
  height: 100vh;
  width: 90vw; //fallback option
  background-color: $white;
  .row {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;

    h2 {
      font-size: 2vw;
      line-height: 2.5vw;
      font-family: "TT Commons DemiBold";
      z-index: 10;
      color: $white;
      mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 3.4vw;
        line-height: 4.5vw;
      }
      @include media("<=ipadPro") {
        font-size: 3.4vw;
        line-height: 5vw;
      }
      @include media("<=phone") {
        font-size: 3.8vw;
        line-height: 5vw;
      }
      .line {
        width: 90vw;
        height: 2.9vw;
        position: relative;
        overflow: hidden;
        @include media("<=tablet") {
          height: 4vw;
        }
        @include media("<=ipadPro") {
          height: 4vw;

        }
        @include media("<=phone") {
          height: 5.5vw;
        }

        // @include media("<=phone") {
        //   height: 2.9vw;
        // }
        span {
          position: absolute;
        }
      }
    }
    .hello-btn {
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: 0 0;

      top: 90vh;
      left: 5vw; 
      z-index: 2;
      a {
        font-size: 1vw;

        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: "TT Commons DemiBold";
        @include media("<=tablet") {
          font-size: 2vw;
        }
        @include media("<=phone") {
          font-size: 2vw;
        }
        
      }
    }
   
    .Scroll-link {
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;

      top: 80vh;
      @include media("<=tablet") {
          
        top: 83vh;
      }
      @include media("<=1024px") {
          
        top: 86vh;
      }
      @include media("<=phone") {
        top: 86vh;
      }
      right: 0vw; 
      z-index: 2;
      a {
        font-size: 1vw;
        color: $black;
        cursor: default;
        pointer-events: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: "TT Commons DemiBold";
        @include media("<=tablet") {
          
          font-size: 2vw;
        }
        @include media("<=phone") {
          font-size: 2vw;
        }
        svg {
          margin-left: 1vw;
          height: 1vw;
          width: 2.5vw;
          transition: 0.4s ease-in-out;
          @include media("<=tablet") {
            padding: 6px;
            height: 2vw;
          width: 3.5vw;
          }
          @include media("<=phone") {
            padding: 4px;
            height: 2vw;
          width: 3.5vw;
          }
        }
        &:hover {
          svg {
            transform: translateX(10px);

            // background: $black;
            // color: $white;
          }
        }
      }
    }
    
  }
}