
      .case {
        position: relative;
        cursor: pointer;
        width: 25vw;
        // background-color: $white;
        @include media("<=phone") {
          width: 60vw;
        }
        &:hover {
          .case-image {
            opacity: 0.8 !important;
          }
        }
        .case-details {
          // font-family: "TT commons Medium";
          box-sizing: border-box;
          position: relative;
          margin-top: 2vh;
          @include media("<=phone") {
            padding-bottom: 5vh;

          }
          @include media("<=tablet") {
          }
          span {
           
            padding: 0;
            font-size: 1vw;
            opacity: 0.8;
            color: #A4A4A4;
            @include media("<=desktop", ">tablet") {
              font-size: 2vw;
            }
            @include media("<=phone") {
              font-size: 2.5vw;
            }
          }
          h2 {
            font-size: 1.4vw;
            // width: 85%;
            font-family: "TT commons DemiBold";
            margin-top: 0.5vh;

            color: $black;
  
            @include media("<=desktop", ">tablet") {
              font-size: 2vw;
            }
            @include media("<=phone") {
              font-size: 3vw;
              // line-height: 2.2rem;
            }
          }
        }
        
        .case-image {
          width: 24vw;
          position: relative;
          overflow: hidden;

          @include media("<=phone") {
            width: 70vw;
            height: auto;


          }
          // overflow: hidden;
          // // position: absolute;
          // opacity: 0.65;
          // transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          }
        }
      }
  