.cases {
  background-color: $white;
  z-index: 4;
  padding-top: 15vh;
  .row {
    padding-bottom: 30vh;
    margin-left: 4vw;
    .upperoffset {
      margin-top: 10vh;
    }
    .spaceXXL {
      margin-left: 15vw;
    }
    .spaceL {
      margin-left: 5vw;
    }
    .spaceXL {
      margin-left: 10vw;
    }
  }
}