@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");


.hero {
  visibility: hidden;
  background: $white;
  .hero-container {
    min-width: 100vw;
    .hero-inner {
   
     
      .hero-content {
        // min-width: 100vw;
        height: 60vh;

        .hero-content-inner {
          color: #323232;
          h1 {
            font-family: "TT Commons Bold";
            padding-left: 10vw;
            padding-top: 30vh;
            margin-bottom: 24px;
            .hero-content-line {
              margin: 0;
              font-size: 4vw;
              color: #000000;
              line-height: 5vw;
              overflow: hidden;
              @include media("<=tablet") {
                font-size: 7vw;
                line-height: 8vw;
              }
              @include media("<=phone") {
                font-size: 7vw;
                line-height: 8vw;
              }
              .hero-content-line-inner {
              }
            }
            .hero-content-description {
              margin: 0;
              font-size: 3vw;

              overflow: hidden;
              font-family: "TT Commons Thin";
              @include media("<=tablet") {
                font-size: 5vw;
                line-height: 6vw;
                max-width: 70vw;

              }
              @include media("<=phone") {
                font-size: 5vw;
                line-height: 7vw;
                max-width: 70vw;
              }
              
            }
          }
          
          
        }
      }
      .hero-images {
       width: 100%;

        .hero-images-inner {
          .hero-image {
           
            &.girl {
            //   top: 0;
            //   right: 0px;
              width: 100vw;
            }
            
            img {
              width: 100%;
              height: auto;

            //   top: 0;
            //   left: 0;
            //   right: 0;
            //   bottom: 0;
            }
          }
        }
      }
    }
  }
}