.para-main {
  height:100%;
  background: $white;
  padding-right: 15vw;
  width: 30vw;
  float: right;
  padding-bottom: 10vh;
  padding-top: 20vh;

  @include media("<=phone") {
    float: left;
    width: 70vw;
    padding-left: 5vw;;
  }
  @include media("<=tablet") {
    float: left;
    width: 60vw;
  }
  .para-row {
    // flex-direction: column;
    // justify-content: center;

    h2 {
      font-size: 1.5rem;
      letter-spacing: 0.04rem;
      // line-height: 4.2rem;
      // font-weight: medium;
      @include media("<=tablet") {
        font-size: 1.5rem;
      }
      @include media("<=phone") {
        font-size: 1.5rem;
      }
      @include media("<=tablet") {
        font-size: 1.3rem;
      }
      @include media("<=phone") {
        font-size: 0.9rem;
      }
      .para-line {
        font-family: "Poppins Regular";
        
        position: relative;
        overflow: hidden;
        width: 25vw;
        padding-bottom: 1vh;
        @include media("<=tablet") {
          width: 50vw;

        }
        @include media("<=phone") {
          width: 60vw;

        }
        span {
          position: relative;
        }
        .para-line-numbering{
          font-size: 1.1rem;
          letter-spacing: 0.09rem;
          font-family: "Poppins Regular";

        }
        .para-line-title{
          display: block;
        }
      }
    }
    .description {
      font-size: 1.1rem;
      font-family: "Poppins Regular";

      width: 25vw;
      @include media("<=phone") {
        width: 70vw;
        font-size: 0.8rem;

      }
      @include media("<=tablet") {
        width: 70vw;
        font-size: 0.8rem;

      }
    }
  }
}


