@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import "./varibles.scss";
@import "./breakpoints.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/cases.scss";
@import "./components/case.scss";
@import "./components/navigation.scss";
@import "./components/imageReveal.scss";
@import "./components/projectTitle.scss";
@import "./components/sectionPara.scss";
@import "./components/sectionParaLeft.scss";
@import "./components/projectIntro.scss";
@import "./components/VariousWidthImage.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/sticky.scss";

@font-face {
  font-family: "TT Commons Bold";
  src: url('../assets/TTCommons-Bold.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: "TT Commons Light";
  src: url('../assets/TTCommons-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: "TT Commons Thin";
  src: url('../assets/TTCommons-Thin.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: "TT Commons Medium";
  src: url('../assets/TTCommons-Medium.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: "TT Commons DemiBold";
  src: url('../assets/TTCommons-DemiBold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: "TT Commons Regular";
  src: url('../assets/TTCommons-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: "TT Commons Thin";
  src: url('../assets/TTCommons-Thin.ttf'); /* IE9 Compat Modes */
}





body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "TT Commons", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90vw;
  min-width: 90vw;
  height: 100%;

}



// intro overlay
.intro-overlay {
  .top {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    width: 100%;
    z-index: 8;
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 33.333vw;
      background: $black;
      bottom: 0;
      left: 0;
      right: 0;
      @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 33.333%;
        @include media("<=tablet") {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 66.666%;
        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }
}

.App {
  z-index: 2;
  // transform: translateY(0);
  // position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: $white;
  .row {
    display: flex;
    align-items: center;
  }
}
.sectionBold{
  padding-left: 15vw;
  padding-top: 20vh;
  padding-bottom: 18vh;
  width: 55vw;

}
.sectionBoldSecond{
  padding-left: 35vw;
  padding-top: 20vh;
  width: 50vw;
  padding-bottom: 18vh;

}
.sectionTitleNumber {
  font-size: 0.8vw;
  font-family: "TT Commons Medium";
  padding-bottom: 1vw;
}
.sectionTitleBold {
  font-size: 4.5vw;
  font-family: "TT Commons Demibold";
  padding-bottom: 1vw;

}
.sectionTitleText {
  width:80%;
  font-size: 1.3vw;
  letter-spacing: 0.01vw;

  padding-left: 0.8vw;
  font-family: "TT Commons Regular";
  @include media("<=tablet") {
    width: 100%;
  }

}

.sectionBeforeAfter {
  background-color: #F8FAFB;
  font-size: 2vw;
  font-family: "TT Commons Demibold";
  padding-left: 15vw;
  padding-top: 7vh;

}
.CaptionPayPal{
  padding-left: 15vw;
  font-size: 1.3vw;
  color: #3a3a3a;
  padding-top: 2vh;
  width: 30%;
  font-family: "TT Commons Regular";
  padding-bottom: 7vh;

}

.paypal-website-images{
  background-color: #F8FAFB;

}

.sectiom-with-tall-image{
  display: flex;
  justify-content: space-around;
}



.sectionFirst {
  background: $yell;
  position: relative;
  padding: 0 24px 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  .pic {
    height: 200px;
    width: 100%;
    background: #f0f1f2;
    box-sizing: border-box;
    border-radius: 36px;
    margin: 0 auto 24px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  h3 {
    font-size: 2rem;
    font-weight: Medium;
    margin: 8px 0;
  }
}


.nemo-interaction-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;	
}

// demo & defaults
.nemo-box {
		color: #fff;
		padding: 1em;
}
.nemo-box img{
  width:40vw;
  height: auto;
  padding-left: 5vw;
}
.reveal-main {
  p {
    position: absolute;
    transform: rotate(-90deg);
    top: 400px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Avenir";
    letter-spacing: 10px;
  }
  .reveal-container {
    width: 20vw;
    margin: 0 auto;
    height: 70vh;
    display: flex;
    align-items: center;
    visibility: hidden; 
  }
}


 
 
.password-form{
  padding-top: 30vh;
  padding-left: 15vw;
  @include media("<=tablet") {
    padding-top: 30vh;
    padding-left: 5vw;


  }
}
.password-text{
  font-size: 1.5vw;
  font-family: "TT Commons regular";
  padding-right: 1.5vw;
}
.form-text{
  font-size: 2vw;
  font-family: "TT Commons Demibold";
}
.form-textbox{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  margin-left:1vw;
  width:20vw;
  color:#AAAAAA;
  font-size:1em;
  border-radius:4px;
}
.form-button {
  background:#131313;
  font-size: 1.2vw;
  font-family: "TT Commons Regular";
  width:11vw;
  padding-top:1.0vw;
  padding-bottom:0.7vw;
  color:white;
  
  border-radius:4px;
  border: #131313 1px solid;
}

.form-button:hover{
  background:#2CC06B; 
}

.reveal-img-container {
  width: 20vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
  }
  img {
    width: 20vw;
    margin: 0 auto;
  }
}

hr {
  width: 60vw;
  border-top: #020202;
}
.sectionSecond {
  background: $purp;
  height: 700px;
  padding: 60px 24px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: #fff;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background: $dpurp;
    height: 600px;
    width: 100px;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  .inner {
    position: relative;
    top: 60px;
    h3 {
      margin: 8px 0;
      opacity: 0;
      font-size: 2rem;
      font-weight: Medium;
    }
    p {
      opacity: 0;
    }
    .btn-row {
      opacity: 0;
      a {
        background: $dpurp;
        width: 100%;
        border-radius: 18px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.1rem;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        margin-top: 48px;
      }
    }
  }
}
